<h1>Make your purchase!</h1>
<form action='/checkout' method='post'>
    <label for='item'>Whatcha buyin?'</label>
    <input type='text' name='item'>
    <button type='submit'>submit</button>
</form>
